.flex-column-container {
    display: flex;
    flex-direction: column;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.padding-4 {
    padding: 4rem;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column !important;
    }
    .full-name {
        position: absolute;
        left: 330px;
    }
    .username span {
        position: absolute;
        top: 150px;
        left: 330px;
    }
    .edit-Button {
        padding-top: 1rem !important;
    }
    .main-container {
        padding-top: 0rem;        
    }
}
  